.home{
    flex:4;
    display: flex;
    flex-direction: column;
}   
.homcont{
    flex:1;
    display: flex;
    flex-direction: column;
}
.homcontr1{
    display: flex;
}
.homcontr2{
    display: flex;
}
#homcontall{
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}