.S1{
  background-color: #61dafb;
}

.Main{
  display:flex;
  box-sizing: border-box;
  height:100vh;
}
.Rightpanel{
  margin:0px;
  flex:4;
  display: flex;
  border-radius: 0px;
}
.leftpanel{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  padding: 10px;
}

#leftpanelcont{
  margin: 10px;
  background-color: #61dafb;
  text-align: center;
  border-radius: 20px;
  padding: 15px;
}
.option{
  flex:30;
  }
.logout{
  flex:1;
}
.settings{
  flex:1
}
