@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
.S1{
  background-color: #61dafb;
}

.Main{
  display:flex;
  box-sizing: border-box;
  height:100vh;
}
.Rightpanel{
  margin:0px;
  flex:4;
  display: flex;
  color:white;
  border-radius: 0px;
  background-color:hsla(239,57%,9%,1);
    background-image:
    radial-gradient(at 46% 31%, hsla(164,84%,66%,1) 0px, transparent 50%),
    radial-gradient(at 54% 23%, hsla(28,94%,70%,1) 0px, transparent 50%),
    radial-gradient(at 59% 47%, hsla(18,96%,66%,1) 0px, transparent 50%);
}
.leftpanel{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  padding: 10px;
}

#leftpanelcont{
  margin: 10px;
  background-color: #61dafb;
  text-align: center;
  border-radius: 20px;
  padding: 15px;
}
.option{
  flex:30;
  }
.logout{
  flex:1;
}
.settings{
  flex:1
}
body {
  font-family: "Manrope", sans-serif;
}
